// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.  


//Buttons
.btnAccept {
  background-color: color($colors,violetU);
}
.btnCancel {
  background-color: color($colors,blueDarkU);
}
.btnPlus {
    background-color: color($colors,plus);
}

.center{
  margin: auto;
}
//Images
.eventuLogo-login {
    height: 200px;
    width: 200px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.img-profile {
    height: 120px;
    width: 120px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
//Events
.losingEvent{
  color: white;
  background-color: color($colors,redU);
}
//Texts
.text-profile {
    text-align: center;
    p {
        font-size: 2rem;
    }
}

.textCentered{
    text-align: center;
}
.cursorPointer{
  cursor: pointer;
}

//Maps
#mapEvent, #map {
    height: 100%;
    width: 100%;
}
#mapDetail {
  height: 20em;
}

// Datepicker
ionic2-datepicker {
  .datepicker-wrapper .datepicker-header {
    background-color: color($colors, violetU) !important;
  }

  .datepicker-wrapper .datepicker-header .weekday-header {
    background-color: color($colors, violetU) !important;
  }

  .datepicker-current {
    background-color: transparent !important;
    color: color($colors, violetU) !important;
    font-weight: bold;
  }

  .datepicker-temp {
    background-color: color($colors, violetU) !important;
    color: #fff !important;
  }

  .button {
    background-color: color($colors, violetU) !important;
    color: #fff;
  }

  .datepicker-footer > button:first-child {
    background-color: color($colors, yellowU) !important;
    color: #fff;
  }
}

//Leaflet Cluster
.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgb(181, 226, 140);
}

.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(241, 211, 87);
}

.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
  background-color: rgb(253, 156, 115);
}

.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(241, 128, 23);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
  line-height: 30px;
}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
  /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
  -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
  -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}
