<ion-content padding>
  <ion-list *ngIf="!loadingEvents && events.length > 0">

    <ion-item-sliding *ngFor="let event of events" #item>
      <ion-item>
          {{event.name}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="blueU" (click)="eventDetail(event)">Detalle</button>
        <button ion-button color="yellowU" (click)="eventEdit(event)">
          <ion-icon name="md-create"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="left">
          <button ion-button color="redU" (click)="eventDelete(event)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="!loadingEvents && events.length == 0">
    No tienes Eventos creados, prueba a crear uno con ayuda del panel lateral
  </ion-list>
  <ion-list *ngIf="loadingEvents">
    <ion-spinner item-start name="crescent"></ion-spinner>
  </ion-list>
</ion-content>