page-near-events {
  .event-title {
    text-align: center;
    font-size: large;
    font-weight: bold;
  }

  .event-description {
    text-align: justify;
    font-size: medium;
  }

  .btnAccept {
    background-color: color($colors, violetU);
    margin-left: 2.5em;
  }
}
