page-near-events {
  .event-title {
    text-align: center;
    font-size: large;
    font-weight: bold;
  }

  .event-description {
    text-align: justify;
    font-size: medium;
  }

  .time-date {
    margin-bottom: -10px;
  }

  .event-date {
    margin-bottom: -10px;
  }
}
